body{
  margin:0;
  background-color: #fefbf6;
}

/*Header*/

.header{
  background-color:#a6d1e6;
  font-size:4vw;
  font-family: 'Titillium Web', sans-serif;
  width:100%;
  background: rgb(166,209,230);
  background: linear-gradient(90deg, rgba(166,209,230,1) 8%, rgba(157,178,206,1) 34%, rgba(127,82,131,1) 74%, rgba(127,82,131,1) 100%);
  

}


/*Navigation Bar*/

.navbar{
  width:100%;
  font-size:2.6vw;
  background: rgb(138,91,139);
  background: linear-gradient(45deg, rgba(138,91,139,1) 0%, rgba(253,201,195,1) 2%, rgba(255,203,196,1) 50%, rgba(255,203,196,1) 98%, rgba(130,84,135,1) 100%);
  height:4vw;
  margin-top:-3.99vw;
  
}

.navbar a{
  padding-top:0vw;
  padding-right:3.001vw;
  padding-left:3.25vw;
  margin-bottom:0;
  font-family: 'Titillium Web', sans-serif;
  color:#fefbf6;
  transition:0.3s;
  text-decoration:none;
}

.navbar a:hover{
  background-color:#3D3C42;
  color:#ffcbc4;
  
}

.navbar a.active{
  color:#7F5283;
}
/*Footer*/
.footer{
  height:3vw;
  left:0;
  bottom:0;
  width:100%;
  background-color:#3D3C42;
}




/*Home Page Grid*/
.H_grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: .5px;
  background-color: #fefbf6;
  width: 100%;
}

.H_grid > div {
  background-color: #fefbf6;
  text-align: center;
  font-size: 1vw;
  font-family: 'Titillium Web', sans-serif;
}

.Quote {
  grid-column: 1 / span 6;
  height:50vw;
  font-size:1vw;
}
.Quote img{
  width:98vw;
  height:50vw;
}


.Blogs_H{
  grid-column: 1/span 2;
  grid-row: 2/span 8;
  height:35vw;
  background: rgb(255,203,196);
  background: linear-gradient(45deg, rgba(255,203,196,1) 0%, rgba(166,209,230,1) 46%, rgba(127,82,131,1) 100%);
}
.Blogs_H:hover{
  box-shadow:0 16px 42px 0 rgb(235, 252, 251), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:0.4s;
}
.Blogs_H img{
  width:32vw;
  height:70%;
}


.Library_H{
  grid-column: 3/span 2;
  grid-row: 2/span 8;
  background: rgb(166,209,230);
  background: linear-gradient(45deg, rgba(166,209,230,1) 0%, rgba(255,188,185,1) 50%, rgba(127,82,131,1) 100%);
}
.Library_H img{
  width:32vw;
  height:70%;
}
.Library_H:hover{
  box-shadow:0 16px 42px 0 rgb(235, 252, 251), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:0.4s;
}


.About_H{
  grid-column: 5/span 2;
  grid-row: 2/span 8;
  background: rgb(255,188,185);
  background: linear-gradient(45deg, rgba(255,188,185,1) 0%, rgba(127,82,131,1) 50%, rgba(166,209,230,1) 100%);
}
.About_H:hover{
  box-shadow:0 16px 42px 0 rgb(235, 252, 251), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:0.3s;
}
.About_H img{
  width:32vw;
  height:70%;
}

/*Library*/
.GNav p{
  text-align:center;
  font-family: 'Titillium Web', sans-serif;
  font-size:2vw;
}

.genre{
  width:53vw;
  height:3vw;
  overflow:hidden;
  margin-left:24vw;
  background: rgb(239,204,202); background: linear-gradient(90deg, rgba(239,204,202,1) 0%, rgba(166,209,230,1) 50%, rgba(255,203,196,1) 100%);
  position:center;
  text-align:center;
  padding-top:1vw;
  font-size:1.6vw;
  padding-bottom:.5vw;
  border-radius:1vw;
  
}
.genre a{
  padding-top:1vw;
  padding-right:1vw;
  padding-left:1vw;
  padding-bottom:1.5vw;
  font-family: 'Roboto Mono', monospace;
  text-decoration:none;
  color:#121112;
  transition:0.2s;
  
}

.genre a:hover{
  background-color:#7F5283;
  
}

.genre a.active{
  color:#d87af5;
}

/*Library Container*/
.book-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 16vw 16vw 16vw; /*Make the grid smaller than the container*/
  gap: 10px;
  background-color: #fefbf6;
  padding: 5px;
  
}

.book-container > div {
  background: rgb(253,201,195);
  background: linear-gradient(45deg, rgba(253,201,195,1) 0%, rgba(241,202,200,1) 11%, rgba(166,209,230,1) 50%);
  text-align: center;
  padding: 0 0;
  font-size: 2vw;
  font-family: 'Titillium Web', sans-serif;
  border-radius:1vw;
  
}

.Book:hover{
  box-shadow:0 16px 42px 0 rgb(127, 82, 131), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:0.3s;
}

/*About Us*/
.info h2{
  padding:1vw;
  font-size: 4vw;
  font-family: 'Roboto Mono', monospace;
}

.info p{
  padding: 1vw;
  font-size: 2vw;
  font-family: 'Titillium Web', sans-serif;
  text-align: justify;
}

/*Feedback Form*/
.form iframe{
  width:50vw;
  height:70vw;
  margin-left:25vw;
  border:none;
}

/*Blog*/
.topics{
  width:79vw;
  height:3vw;
  overflow:hidden;
  margin-left:10.7vw;
  background: rgb(239,204,202); background: linear-gradient(90deg, rgba(239,204,202,1) 0%, rgba(166,209,230,1) 50%, rgba(255,203,196,1) 100%);
  position:center;
  text-align:center;
  padding-top:1vw;
  font-size:1.6vw;
  padding-bottom:.5vw;
  border-radius:1vw;
  
  
}
.topics a{
  padding-top:1vw;
  padding-right:1vw;
  padding-left:1vw;
  padding-bottom:1.5vw;
  font-family: 'Roboto Mono', monospace;
  text-decoration:none;
  color:#121112;
  transition:0.2s;
  
}

.topics a:hover{
  background-color:#7F5283;
  
}

.topics a.active{
  color:#d87af5;
}
.Gnav button{
  padding:1.5vw;
  margin-top: 2vw;
  margin-left: 43.2vw;
  border: none;
  background-color: #ffcbc4;
  font-size:1vw;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
}

.Gnav button:hover{
  background: rgb(255,203,196);
  background: linear-gradient(45deg, rgba(255,203,196,1) 0%, rgba(166,209,230,1) 100%);
  box-shadow:0 16px 42px 0 rgb(188, 149, 250), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:1s;
}

/*Blog Gird*/
.blog-container{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 60vw;
  gap: 10px;
  background: rgb(255,188,185);
  background: linear-gradient(90deg, rgba(255,188,185,1) 0%, rgba(129,87,135,1) 25%, rgba(127,82,131,1) 49%, rgba(127,82,131,1) 75%, rgba(166,209,230,1) 100%);
  padding-left: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius:2vw;
}

.blog-container > div{
  background: rgb(255,203,196);
  background: linear-gradient(45deg, rgba(255,203,196,1) 0%, rgba(239,204,202,1) 43%, rgba(212,206,212,1) 55%, rgba(166,209,230,1) 77%, rgba(166,209,230,1) 100%);
  text-align: center;
  font-size: 1vw;
  font-family: 'Titillium Web', sans-serif;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:1vw;
  
  
}

.post:hover{
  box-shadow:0 16px 42px 0 rgb(235, 252, 251), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:0.8s;
  
}

.post button{
  border:thin;
  padding:1vw;
  margin-bottom:1vw;
  background-color:#7F5283;
  color:white;
  font-size:1vw;
  font-family: 'Roboto Mono', monospace;
}

.post button:hover{
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

/*Share Your Stories*/
.section {
  padding: 1em 1em;
  width: 100%;
  margin: 1em auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em;
}

.container-row {
  width: 90%;
  margin: 0 auto;
}

/* Button Standard */

.btn-main,
.btn-light,
.btn-dark {
  display: block;
  padding: 0.6rem 2rem;
  margin: 1rem;
  transition: all 0.1s;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-main {
  color: lightgoldenrodyellow;
  background-color: lightcoral;
}

.btn-light {
  color: #0a2472;
  background-color: white;
}

.btn-dark {
  color: white;
  background-color: #0a2472;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: lightgoldenrodyellow;
  color: lightcoral;
  font-weight: 700;
  transform: scale(1.08);
}

/* Project Starts Here */

/* Journal Entry Section */

/* Title */

.entry-text-title {
  width: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: lightgoldenrodyellow;
  font-family: 'Titillium Web', sans-serif;
}

.entry-text-title:focus {
  outline-color: lightcoral;
  font-family: 'Titillium Web', sans-serif;
  color: lightcoral;
  font-size: 1rem;
}

.entry-text-title::placeholder {
  color: lightcoral;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
}

.entry-text-title::-ms-value {
  color: lightcoral;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
}

/* Text Box */

.container-row-journal {
  display: flex;
  justify-content: center;
}

.entry-form {
  max-width: 100%;
  margin: 0 auto;
}

.journal-label {
  display: block;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 700;
}

.entry-text-box {
  width: 100%;
  height: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: lightgoldenrodyellow;
  font-family: 'Titillium Web', sans-serif;
}

@media (min-width: 769px) {
  .entry-text-box {
    width: 40vw;
    height: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: lightgoldenrodyellow;
    font-family: 'Titillium Web', sans-serif;
  }
}

.entry-text-box:focus {
  outline-color: lightcoral;
  font-family: 'Titillium Web', sans-serif;
  color: lightcoral;
  font-size: 1rem;
}

.entry-text-box::placeholder {
  color: lightcoral;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
}

.entry-submit-btn {
  margin: 0;
}

/* Journal Results Section */

.sectionEntryResults {
  width: 100%;
  margin: 0 auto;
}

.entryResultRow {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 1em auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-entry-div {
  max-width: 100%;

  margin: 1em auto;
  padding: 1em 1em;
}

.single-entry-date {
  background-color: lightgoldenrodyellow;
  width: 100%;
}

.heading-results {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: lightgoldenrodyellow;
}

/*FAQ*/
.FAQ h1{
  padding:1vw;
  font-size: 4vw;
  font-family: 'Roboto Mono', monospace;
}

.FAQ h2{
  padding: 1vw;
  font-size: 2vw;
  font-family: 'Titillium Web', sans-serif;
}

/*Exchange Books*/
.exchange h1{
  padding:1vw;
  font-size: 3vw;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  
}

.Ex-book img{
  width:20%;
  padding-top:2vw;
  padding-left:10vw;
}

.Ex-container{
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 100%;
  gap: 5vw;
  background-color: #fefbf6;
  padding:  5vw;
}

.Ex-container > div{
  background-color: #fefbf6;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.eximg img{
  width: 50%;
}

.ex-cont button{
  width: 15vw;
  border: none;
  border-radius:1vw;
  background-color: pink;
}

.ex-cont button:hover{
  background: rgb(255,203,196);
  background: linear-gradient(45deg, rgba(255,203,196,1) 0%, rgba(166,209,230,1) 100%);
  box-shadow:0 16px 42px 0 rgb(188, 149, 250), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:1s;
  
}

.ex-cont button img{
  width: 10vw;
  
}

.ex-cont p{
  background-color: pink;
  width: 31%;
  margin-left: 15vw;
  border-radius: 1vw;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5vw;
}

.ex-cont p:hover{
  background: rgb(255,203,196);
  background: linear-gradient(45deg, rgba(255,203,196,1) 0%, rgba(166,209,230,1) 100%);
  box-shadow:0 16px 42px 0 rgb(188, 149, 250), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:1s;
}

.ex-cont h2{
  font-family: 'Titillium Web', sans-serif;
  font-size: 3vw;
}

.ex-cont h1{
  font-family: 'Roboto Mono', monospace;
  font-size: 4vw;
}

.exchange button{
  padding:1.5vw;
  margin-bottom:5vw;
  margin-left:42vw;
  border: none;
  background-color: #ffcbc4;
  font-size:1vw;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
}

.exchange button:hover{
  background: rgb(255,203,196);
  background: linear-gradient(45deg, rgba(255,203,196,1) 0%, rgba(166,209,230,1) 100%);
  box-shadow:0 16px 42px 0 rgb(188, 149, 250), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:1s;
}